@import url("/assets/css/styles.css");

.descrição_sobre_nos{
    max-width: var(--max-width-block);
    margin: 0 auto;
}

.sobre_nos{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: var(--margin-m);
}

.texto_sobre_nos{
    color: var(--cor-texto-claro);
    text-shadow:
    -3px -3px 0 var(--cor-borda-titulo),
     3px -3px 0 var(--cor-borda-titulo),
    -3px  3px 0 var(--cor-borda-titulo),
     3px  3px 0 var(--cor-borda-titulo);
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xl);
}


.descrição_sobre_nos{
    max-width: var(--max-width-block);
    margin: 0 auto;           
    padding: var(--padding-l); 
    border: 3px solid var(--cor-borda-titulo);  
    border-radius: 8px;      
    background-color:white;    
}

.texto_descrição_sobre_nos{
    font-size: var(--font-size-l);
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
    text-align: center;
}

.footer{
    margin-top: var(--margin-xl);
}
