@import url(/assets/css/styles.css);

.evento_list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-m);
    list-style-type: none;
    align-items: flex-star;
}

.evento_list_item{
    background-color: white;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 32%;
    max-width: 17em;
    height: 100%;
    box-shadow: var(--box-shadow-card);

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.filme_list_imagem{
    width: 100%;
    object-fit: cover;
}

.botao_informações{
    margin-top: var(--margin-xs);
    display: inline-block;
    padding: 5px 94px;
    background-color:var(--cor-borda-titulo);
    font-weight: bold;
}

.texto_informações{
    color: white;
    text-decoration: none;
}

.evento_list_item-titulo{
    text-align: center;
    margin-top: var(--margin-xs);
}


