@import url("styles.css");

.titulo_pagina{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: var(--margin-m);
}

.titulo_eventos{
    color: var(--cor-texto-claro);
    text-shadow:
    -3px -3px 0 var(--cor-borda-titulo),
     3px -3px 0 var(--cor-borda-titulo),
    -3px  3px 0 var(--cor-borda-titulo),
     3px  3px 0 var(--cor-borda-titulo);
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xl);
}

.menu_superior{
    max-width: var(--max-width-block);
    margin: 0 auto;
}

.menu_superior_itens{
    display: flex;
    justify-content:center;
    gap: var(--gap-xl);
    margin-top: var(--margin-l);
    margin-bottom: var(--margin-l);
}

.menu_superior_itens{
    list-style: none;
   
}

#perfil{
    background-color: #ffe066;
}

#meus_eventos{
    background-color: rgb(218, 107, 218);
}

#senhas{
    background-color:var(--cor-borda-titulo) ;
}

.botoes_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao_my_events {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    flex-grow: 1;
    padding: var(--padding-form);
    border: 3px solid var(--cor-de-fundo-botao-v);
    border-radius: 8px;
    background-color: var(--cor-de-fundo-botao-v);
    color: var(--cor-texto-claro);
    font-weight: bold;
    font-size: var(--font-size-s);
    margin-top: var(--margin-m);
    margin-bottom: var(--margin-m);
    font-family: var(--fonte-texto);
    text-decoration: none;
    cursor:pointer;
}


.Link-Menu-Lateral{
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
    padding: 0 var(--padding-s) 0 var(--padding-s);
    text-decoration: none;
    font-family: var(--fonte-titulo);
    color: white;
    font-weight: 200;
    font-size: 20px;
    font-stretch: expanded;
}

.container_dinamico{
    max-width: 750px;
    margin: 0 auto;           
    padding: var(--padding-form);           
    border: 3px solid var(--cor-borda-titulo);  
    border-radius: 8px;      
    background-color:white; 
    color: #333;             
    font-size: var(--font-size-s);
}

.footer{
    margin-top: var(--margin-l);
}
