@import url("styles.css");

.container_banner{
    max-width: var(--max-width-block);
    margin: 0 auto;
}


.container_img img {
    margin-top: var(--margin-m);
    margin-bottom: var(--margin-m);
    width: 100%;       
    height: auto;      
    display: block;    
    object-fit: cover; 
    border-radius: 10px;
}

.botao_e_informações{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: var(--margin-m);
}

.foto_e_informações{
    display: flex;
    max-width: var(--max-width-block);
    margin: 0 auto;
    justify-content: space-between;
}

.texto_titulo_sessão{
    margin-top: var(--margin-m);
    margin-bottom: var(--margin-m);
}

.texto_observações_regras{
    display: flex;
    max-width: var(--max-width-block);
    margin: 0 auto;
    justify-content: space-between;

}

.gif_coracao {
    width: 100px; 
    align-self: center; 
}
  

.foto_lateral{
    margin-right: var(--margin-m);
}

.foto{
    border-radius: 7px;
}

.informações{
    color: var(--cor-texto-claro);
    text-shadow:
    -3px -3px 0 var(--cor-borda-titulo),
     3px -3px 0 var(--cor-borda-titulo),
    -3px  3px 0 var(--cor-borda-titulo),
     3px  3px 0 var(--cor-borda-titulo);
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xl);
}

.botao_inscrever{
    background-color: var(--cor-borda-titulo);
    padding: var(--padding-xs);
    border: 3px solid var(--cor-borda-titulo);
    border-radius: 5px;
    color: var(--cor-texto-claro);
    font-family: var(--fonte-texto);
    font-weight: bold;
    font-size: var(--font-size-s);
}

.descrição_evento{
    background-color: white;
    border-radius: 7px;
    padding: var(--padding-s);
    border: 3px solid var(--cor-borda-titulo);
}

.titulo_descrição{
    margin-bottom: var(--margin-m);
    font-size: var(--font-size-m);
    font-family: var(--fonte-texto                  );
}

.texto_descrição{
    margin-bottom: var(--margin-m);
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
}

.conteudo_informações{
    display: flex;
    flex-direction: column;
    gap:var(--gap-s);
    list-style: none;
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
}

.texto_titulo_sessão{
    color: var(--cor-texto-claro);
    text-shadow:
    -3px -3px 0 var(--cor-borda-titulo),
     3px -3px 0 var(--cor-borda-titulo),
    -3px  3px 0 var(--cor-borda-titulo),
     3px  3px 0 var(--cor-borda-titulo);
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xl);
}

.texto_observações_regras{
    margin-bottom: var(--margin-l);
    background-color: white;
    border-radius: 7px;
    padding: var(--padding-s);
    border: 3px solid var(--cor-borda-titulo);
}

