@import url("styles.css");

.titulo_pagina{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: var(--margin-m);
}

.titulo_senhas{
    color: var(--cor-texto-claro);
    text-shadow:
    -3px -3px 0 var(--cor-borda-titulo),
     3px -3px 0 var(--cor-borda-titulo),
    -3px  3px 0 var(--cor-borda-titulo),
     3px  3px 0 var(--cor-borda-titulo);
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xl);
}

.menu_superior{
    max-width: var(--max-width-block);
    margin: 0 auto;
}

.menu_superior_itens{
    display: flex;
    justify-content:center;
    gap: var(--gap-xl);
    margin-top: var(--margin-l);
    margin-bottom: var(--margin-l);
}

.menu_superior_itens{
    list-style: none;
   
}

.Link-Menu-Lateral{
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
    padding: 0 var(--padding-s) 0 var(--padding-s);
    text-decoration: none;
    font-family: var(--fonte-titulo);
    color: white;
    font-weight: 200;
    font-size: 20px;
    font-stretch: expanded;
}

#perfil{
    background-color: #ffe066;
}

#meus_eventos{
    background-color: rgb(218, 107, 218);
}

#senhas{
    background-color:var(--cor-borda-titulo) ;
}

.senhas_cadastradas{
    max-width: var(--max-width-block);
    margin: 0 auto;
    display: flex;
    justify-content: center;
 
}

.senhas_cadastradas{
    max-width: 750px;
    margin: 0 auto;           
    padding: 80px;           
    border: 3px solid var(--cor-borda-titulo);  
    border-radius: 8px;      
    background-color:white; 
    color: #333;             
    font-size: var(--font-size-s);

}

#senha{
    width: 500px;            
    height: 60px;
    padding: var(--padding-form);           
    border: 3px solid var(--cor-borda-titulo);  
    border-radius: 8px;      
    background-color:white; 
    color: #333;             
    font-size: var(--font-size-s);
    margin-bottom: var(--margin-s);
}

#botao_ver_senha{
    padding: var(--padding-form);           
    border: 3px solid var(--cor-borda-titulo);  
    border-radius: 8px;      
    background-color:white; 
    color: #333;             
    font-size: var(--font-size-s);
    margin-bottom: var(--margin-l);
}


.link_redefinir_senha{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


#botao_redefinir{
    width: 400px;            
    height: 40px;
    padding: var(--padding-form);           
    border: 3px solid var(--cor-de-fundo-botao-v);  
    border-radius: 8px;      
    background-color: var(--cor-de-fundo-botao-v); 
    color: var(--cor-texto-claro);  
    font-weight: bold;           
    font-size: var(--font-size-s);
    margin-bottom: var(--margin-m);
}


.footer{
    margin-top: var(--margin-l);
}