@import url("styles.css");

.container_banner{
    max-width: var(--max-width-block);
    margin: 0 auto;
}

.container_img img {
    margin-top: var(--margin-m);
    margin-bottom: var(--margin-m);
    width: 100%;       
    height: auto;      
    display: block;    
    object-fit: cover; 
    border-radius: 10px;
}

.Inscrição_texto{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: var(--margin-m);
}

.Inscrição_texto{
    color: var(--cor-texto-claro);
    text-shadow:
    -3px -3px 0 var(--cor-borda-titulo),
     3px -3px 0 var(--cor-borda-titulo),
    -3px  3px 0 var(--cor-borda-titulo),
     3px  3px 0 var(--cor-borda-titulo);
    font-family: var(--fonte-titulo);
    font-size: var(--font-size-xl);
}

.formulario_inscrição{
    max-width: var(--max-width-block);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.botao_concluir{
    max-width: var(--max-width-block);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

.formulario_campos{
    max-width: var(--max-width-block);
    margin: 0 auto;           
    padding: 80px;           
    border: 3px solid var(--cor-borda-titulo);  
    border-radius: 8px;      
    background-color:white;
    color: #333;             
    font-size: var(--font-size-s);

}

#primeiro-nome,#sobrenome,#data-nascimento,#sexo,#telefone,#cpf,#assessibilidade,#Observações-assessibilidade{
    width: 500px;            
    height: 60px;
    padding: var(--padding-form);           
    border: 3px solid var(--cor-borda-titulo);  
    border-radius: 8px;      
    background-color:white; 
    color: #333;             
    font-size: var(--font-size-s);
    margin-bottom: var(--margin-s);
}

.botao_concluir{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

#botao_concluir_inscrição{
    padding: var(--padding-form);           
    border: 3px solid var(--cor-de-fundo-botao-v);  
    border-radius: 8px;      
    background-color:var(--cor-de-fundo-botao-v); 
    color: white;             
    font-family: var(--fonte-texto);
    font-weight: bold;
    font-size: var(--font-size-s);
}

.aviso_ingresso{
    margin-top: var(--margin-m);
    margin-bottom: var(--margin-m);
}

.texto_aviso_ingresso{
    font-family: var(--fonte-texto);
    font-weight: bold;
    font-size: var(--font-size-m);
    text-align: center;
}

.footer{
    margin-top: var(--margin-xl);
}